@import './theme.css';
@import './naive.css';
html,
body,
#app ,
.n-config-provider {
  @apply w-full h-full;
  overscroll-behavior: none;
  font-family: "PingFang SC", system-ui
}
input, textarea {
  text-transform: none;
}