@import './theme.css';

html,
body,
#app ,
.n-config-provider {
  @apply w-full h-full;
  overscroll-behavior: none;
  font-family: "PingFang SC", system-ui
}
input, textarea {
  text-transform: none;
}
.n-form-item-label{
  font-weight: 500 !important;
}
.n-card__content{
  padding: 0 !important;
}
.n-card-header{
  padding: 10px !important;
  font-size: 15px !important;
}