.reset-naive-input .n-input {
  --n-box-shadow-focus: none !important;
  --n-box-shadow-focus-error: none !important;
  --n-box-shadow-hover: none !important;
  --n-border: none !important;
  --n-border-hover: none !important;
  --n-border-focus: none !important;
  --n-border-disabled: none !important;
  background-color: transparent !important;
}
.n-form-item-label {
  font-weight: 500 !important;
}

.n-card__content {
  padding: 0 !important;
}

.n-divider {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
